<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Anant Mathur">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Single Blog | MSI-T Unfiltered</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div>
    <% include ../includes/navbar.ejs %>
    <!-- MainMenu-Area-End -->

<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div>
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1 class="white-color">Our Latest Blog</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <article class="post-single">
                              
                    <div class="post-body">
                      
                            <figure class="post-media" style="text-align: center;">
                                <img src= "/blogs/photo/<%= Blog.id %>" alt="blog_img" style="height:30rem; width: 50rem;">
                            </figure>
                            <br>
                            <h1 class="dark-color" style="text-align: center;"><%=Blog.title %></h1>
                            <div class="space-20"></div>
                            <div class="space-50"></div>
                            <h5><%= Blog.body %></h5>
                                    
                        </div>
                    </article>
                    <div class="space-100"></div>
                    <div id="comments" class="comments-area">
                        <h3 class="comment-heading">Comments</h3>
                        <ul class="comments-list">                  
                            <% Blog.comments.forEach(function (comment) { %>          
                            <li>
                                <article class="comment">
                                    <figure class="comment-pic">
                                            <img alt="" src="https://image.flaticon.com/icons/svg/25/25663.svg" 
                                            style="height: 3rem;">
                                    </figure>
                                    <div class="comment-content">
                                        <div class="comment-header">
                                            <h4><%=comment.name %></h4>
                                            <p class="comment-date">Posted on <%= comment.date.getDate() %> / <%= comment.date.getMonth() + 1 %> / <%= comment.date.getFullYear() %> </p>
                                        </div>
                                        <p><%=comment.text %></p>
                                        
                                    </div>
                                </article>
                                
                            </li>
                            <% }); %>
                        </ul>
                        <br><br>
                        <div class="comment-respond">
                            <h4>Post your Comments</h4>
                            <form action="/blogs/comment/<%=Blog.id %>" method="POST" class="comment-form">
                                <div class="form-double">
                                    <div class="box">
                                        <input type="text" name="name" class="form-control" placeholder="Name...">
                                        <div class="space-30"></div>
                                    </div>
                                </div><br><br>
                                
                                <textarea id="comment" name="text" rows="5" class="form-control" placeholder="Type Your Mesage..."></textarea>
                                
                                <div class="space-30"></div>
                                <div style="text-align:center">
                                <button type="submit" class="btn btn-primary">POST</button>
                                </div>
                            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
            <% include ../includes/footer.ejs %>
    </footer>

    <!--Vendor-JS-->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/js/vendor/jquery-ui.js"></script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/contact-form.js"></script>
    <script src="/js/ajaxchimp.js"></script>
    <script src="/js/scrollUp.min.js"></script>
    <script src="/js/magnific-popup.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="/js/main.js"></script>
</body>

</html>